In [1]:
print('приветики')

приветики

In [21]:
number = 254
print(number)
print(float(number))

254
254.0

In [8]:
year = 365
week = 7
a = year // week
print(c)
b = year % week
print(d)

52
1

In [17]:
months_in_year = 12
c = round(year / months, 2)
print(c)

30.42

In [20]:
hours_in_year = year * 24
print(hours_in_year)
minutes_in_year = hours_in_year * 60
print(minutes_in_year)
seconds_in_year = minutes_in_year * 60
print(seconds_in_year)

8760
525600
31536000

In [33]:
g = (pow(katet1, 2) + pow(katet2, 2)) ** 0.5
print(g)

8.06225774829855

In [36]:
katet1 = 4
katet2 = 7
summa = g + katet1 + katet2
print(summa)
maximal = max(g, katet1, katet2)
print(maximal)
minimal = min(g, katet1, katet2)
print(minimal)

19.06225774829855
8.06225774829855
4

In [12]:
name = 'Ярослав'
surname = 'Мартыненко'
print('"""Меня зовут ' + name, surname + ' и я учу Python!!!"""')

"""Меня зовут Ярослав Мартыненко и я учу Python!!!"""

In [20]:
aa = 'Карл у Клары украл кораллы, а Клара у Карла украла кларнет. Если бы Карл у Клары не украл кораллы, то Клара у Карла не \
украла б кларнет'
print(aa.count('а'))

23

In [23]:
print(aa.lower())
print(aa.upper())

карл у клары украл кораллы, а клара у карла украла кларнет. если бы карл у клары не украл кораллы, то клара у карла не украла б кларнет
КАРЛ У КЛАРЫ УКРАЛ КОРАЛЛЫ, А КЛАРА У КАРЛА УКРАЛА КЛАРНЕТ. ЕСЛИ БЫ КАРЛ У КЛАРЫ НЕ УКРАЛ КОРАЛЛЫ, ТО КЛАРА У КАРЛА НЕ УКРАЛА Б КЛАРНЕТ

In [25]:
print(aa.capitalize())

Карл у клары украл кораллы, а клара у карла украла кларнет. если бы карл у клары не украл кораллы, то клара у карла не украла б кларнет

In [29]:
print('Кларнет' in aa)
print('кларнет' in aa)
print('КЛАРНЕТ' in aa)

False
True
False